DJANGO_SECRET_KEY='your-secret-key'

DATABASE_NAME='PostgreSQL-database-name'
DATABASE_USER='PostgreSQL-username'
DATABASE_PASSWORD='PostgreSQL-user-password'
DATABASE_HOST='db'
DATABASE_PORT=5432

EMAIL_HOST='your-email-provider'
EMAIL_PORT=587
EMAIL_HOST_USER='your-email'
EMAIL_HOST_PASSWORD='your-email-password'

MOVIE_API_TOKEN ='your-TMDB-api-token'