<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login page</h1>
    <form action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        
        {{ form.email.label_tag }}
        {{ form.email }}
        <br><br>
        {{ form.password.label_tag }}
        {{ form.password }}

        <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>